/**
 * Background color names
 *
 * Type: Map
 */

$iota-utils-bgcolor-names: $checkout-colors !default;

/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-bgcolor-namespace: 'bgcolor-';

@import 'node_modules/iotacss/utilities/bgcolor';

// Generate background colors

@mixin _iota-utils-background-colors {
    @each $color, $value in $iota-utils-bgcolor-names {
        .#{$iota-global-utilities-namespace + $iota-utils-bgcolor-namespace + $color} {
            border-color: $value;
        }
    }
}

@include _iota-utils-background-colors;
