/**
 * Padding default gutter. Use a number for a simple size
 * and a map for responsive.
 *
 * Type: Number / Map
 */

$iota-utils-padding-default: $iota-global-gutter-default;

/**
 * Padding extra gutters.
 *
 * Type: Map
 */

$iota-utils-padding-extra: (
	-size-0: 0,
	-size-10: 10px,
	-size-15: 15px,
	-size-20: 20px,
	-size-30: 30px,
	-size-40: 40px,
	-size-60: 60px,
	-size-80: 80px,
	-size-100: 100px,
	-size-half-standard: .5 * $iota-global-gutter-default,
	-size-standard: $iota-global-gutter-default
);

/**
 * Enables / Disables responsive classes
 *
 * Type: Boolean
 */

$iota-utils-padding-res: false;

/**
 * Breakpoints map. Overrides the breakpoints map only
 * for padding utility.
 *
 * Type: Map
 */

$iota-utils-padding-breakpoints: $iota-global-breakpoints;

/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-padding-namespace: 'p';
$iota-utils-padding-top-name: 't';
$iota-utils-padding-right-name: 'r';
$iota-utils-padding-bottom-name: 'b';
$iota-utils-padding-left-name: 'l';
$iota-utils-padding-vertical-name: 'v';
$iota-utils-padding-horizontal-name: 'h';

@import 'node_modules/iotacss/utilities/padding';
