// Common Settings

// Options

$settings-common-opt-margin: $iota-global-gutter-default !default;
$settings-common-opt-padding: $iota-global-gutter-default !default;

$settings-common-opt-font-face: Roboto, sans-serif !default;

// Style Properties

html,
body {
    font-family: $settings-common-opt-font-face;  position: relative;  width: 100%;  height: 100%;  background-color: map_get($checkout-colors, s4);
}
