// Checkout Component

// Options

$component-checkout: true;
$component-checkout-namespace: 'checkout' !default;

$component-checkout-opt-tab-width: 12 * $iota-global-gutter-default;

$component-checkout-opt-font-face: $settings-common-opt-font-face;

$component-checkout-opt-payment-height: 400px;

$component-checkout-opt-margin: $iota-global-gutter-default !default;
$component-checkout-opt-padding: $iota-global-gutter-default !default;

// Helper Local Variables

$component-checkout-namespace-var-checkout: $iota-global-components-namespace +
    $component-checkout-namespace;
$selector: $component-checkout-namespace-var-checkout;

// Style Properties

.#{$selector} {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100vh - 5 * #{$iota-global-gutter-default});

    &__counters {
        overflow-y: auto;
        flex: 1 1 calc(100% - #{$component-checkout-opt-payment-height});

        height: 100%;
        margin: 0 0.5 * $component-checkout-opt-margin;

        background-color: map-get($checkout-colors, s1);
    }

    &__payments {
        position: relative;

        flex-shrink: 1;

        width: 100%;
        height: $component-checkout-opt-payment-height;

        /* Animation */
        &-enter-active,
        &-leave-active {
            transition: height 0.5s;
        }

        &-enter {
            height: 0;
        }

        &-leave-to {
            height: $component-checkout-opt-payment-height;
        }
    }

    &__payments-tabs {
        position: absolute;
        bottom: 100%;

        width: 100%;
        padding: 0 2 * $component-checkout-opt-padding;

        > ul {
            display: flex;
            justify-content: center;

            width: 100%;
            height: 5 * $iota-global-gutter-default;

            > li {
                font-size: $iota-global-font-size-l;

                display: flex;
                align-items: center;
                justify-content: center;

                width: $component-checkout-opt-tab-width;
                margin-bottom: 0.25 * $component-checkout-opt-margin;
                margin-left: 0.25 * $component-checkout-opt-margin;
                padding: $component-checkout-opt-padding;

                list-style: none;

                cursor: pointer;
                user-select: none;

                color: map-get($checkout-colors, w);
                background-color: map-get($checkout-colors, s2);

                &.active {
                    margin-bottom: 0;

                    background-color: map-get($checkout-colors, s4);
                }
            }
        }
    }

    &__payments-content {
        width: 100%;
        height: 100%;
        padding: 0 $component-checkout-opt-padding;
        > * {
            float: left;

            width: 25%;
            height: 100%;
            padding: $component-checkout-opt-padding;
        }
    }

    &__empty {
        flex-basis: 0;
        flex-grow: 1;

        padding: 0 !important;
    }

    &__samples {
        display: flex;
        justify-content: flex-end;
    }

    &__keyboard {
        display: flex;
        justify-content: flex-start;
    }

    &__pay {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        > button {
            font-size: $iota-global-font-size-ml;

            height: 5 * $iota-global-gutter-default;
            padding: 0 4 * $component-checkout-opt-padding;

            color: map-get($checkout-colors, w);
            border: 3px solid map-get($checkout-colors, w);
            outline: none;
            background-color: map-get($checkout-colors, p1);

            &:hover {
                background-color: map-get($checkout-colors, p2);
            }

            &:disabled {
                background-color: map-get($checkout-colors, s3);
            }
        }
    }
}

/* Animations */
.#{$selector} {
    &__payments {
        &-enter-active,
        &-leave-active {
            transition: height 0.5s;
        }

        &-enter {
            height: 0;
        }

        &-leave-to {
            height: $component-checkout-opt-payment-height;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .#{$selector} {
        &__payments-content {
            > * {
                width: 33%;
            }
        }

        &__empty {
            width: 0;
        }
    }
}

@media only screen and (max-width: 900px) {
    .#{$selector} {
        &__payments-content {
            > * {
                width: 50%;
            }
        }

        &__empty {
            width: 0;
        }

        &__pay {
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 600px) {
    .#{$selector} {
        &__payments-content {
            > * {
                width: 100%;
            }
        }

        &__empty {
            width: 0;
        }

        &__pay {
            height: auto;
        }
    }
}
