// Head Menu Component

// Options

$component-head-menu: true;
$component-head-menu-namespace: 'head-menu' !default;

$component-head-menu-opt-tab-width: 12 * $iota-global-gutter-default;

$component-head-menu-opt-font-face: $settings-common-opt-font-face;

$component-head-menu-opt-margin: $iota-global-gutter-default !default;
$component-head-menu-opt-padding: $iota-global-gutter-default !default;

// Helper Local Variables

$component-head-menu-namespace-var-head-menu: $iota-global-components-namespace +
    $component-head-menu-namespace;
$selector: $component-head-menu-namespace-var-head-menu;

// Style Properties

.#{$selector} {
    position: relative;  height: 100%;  margin: 0;  padding: 0;  color: map-get($checkout-colors, w);  background-color: map-get($checkout-colors, s4);

    &__tabs-container {
        position: absolute;  right: 0;  display: flex;  align-items: center;  flex-direction: row;  height: 100%;  padding-right: $component-head-menu-opt-padding;
        > ul {
            display: flex;  flex-direction: row;  height: calc(100% - .25 * #{$component-head-menu-opt-padding});  margin: .25 * $component-head-menu-opt-margin 2 * $component-head-menu-opt-margin 0 0;
            > li {
                font-size: $iota-global-font-size-s;  position: relative;  display: flex;  align-items: center;  justify-content: flex-start;  width: $component-head-menu-opt-tab-width;  height: 100%;  margin-bottom: .25 * $component-head-menu-opt-margin;  margin-left: .25 * $component-head-menu-opt-margin;  padding: $component-head-menu-opt-padding;  list-style: none;  cursor: pointer;  user-select: none;  color: map-get($checkout-colors, b);  background-color: map-get($checkout-colors, s3);

                .#{$selector}__tab-icon {
                    display: flex;  align-items: center;  justify-content: center;  width: 3 * $component-head-menu-opt-padding;  height: 3 * $component-head-menu-opt-padding;  margin-right: $component-head-menu-opt-margin;  color: map-get($checkout-colors, w);  border-radius: 50%;  background-color: map-get($checkout-colors, p2);
                }

                .#{$selector}__tab-close {
                    position: absolute;  top: .5 * $component-head-menu-opt-margin;  right: .5 * $component-head-menu-opt-margin;
                }
            }

            > li.active {
                margin-bottom: 0;  background-color: map-get($checkout-colors, s1);
            }
        }
    }
}

$subSelector: $selector + '-sub';

.#{$subSelector} {
    position: absolute;  z-index: 100;  display: flex;  align-items: center;  flex-direction: row;  height: 100%;  padding: 0 2 * $component-head-menu-opt-padding;  background-color: map-get($checkout-colors, s4);
    &__item {
        display: flex;  flex-direction: row;  justify-content: center;  margin: $component-head-menu-opt-margin;  color: map-get($checkout-colors, w);  border: none;  outline: none;  background: transparent;
    }
}
