// Keyboard Component

// Options

$component-keyboard: true;
$component-keyboard-namespace: 'keyboard' !default;

$component-keyboard-opt-font-face: $settings-common-opt-font-face;

$component-keyboard-opt-margin: $iota-global-gutter-default !default;
$component-keyboard-opt-padding: $iota-global-gutter-default !default;

// Helper Local Variables

$component-keyboard-namespace-var-keyboard: $iota-global-components-namespace +
    $component-keyboard-namespace;
$selector: $component-keyboard-namespace-var-keyboard;

// Style Properties

.#{$selector} {
    width: 100%;
    width: 300px;
    height: 100%;

    > ul {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
        height: 100%;
        padding: 0 0 1.5 * $component-checkout-opt-padding 0;

        > li {
            font-size: $iota-global-font-size-xxl;

            display: flex;
            align-items: center;
            flex: 1 0 30%;
            justify-content: center;

            height: 25%;
            margin-right: .5 * $component-keyboard-opt-margin;
            margin-bottom: .5 * $component-keyboard-opt-margin;

            list-style: none;

            cursor: pointer;
            user-select: none;

            color: map-get($checkout-colors, w);
            background-color: map-get($checkout-colors, s3);
        }

        > li:hover {
            background-color: map-get($checkout-colors, p1);
        }
    }
}

@media only screen and (max-width: 600px) {
    .#{$selector} {
        width: 100%;
    }
}
