// Input Field Component

// Options

$component-input-field: true;
$component-input-field-namespace: 'input-field' !default;

$component-input-field-opt-font-face: $settings-common-opt-font-face;

$component-input-field-opt-margin: $iota-global-gutter-default !default;
$component-input-field-opt-padding: $iota-global-gutter-default !default;

// Helper Local Variables

$component-input-field-namespace-var-input-field: $iota-global-components-namespace +
    $component-input-field-namespace;
$selector: $component-input-field-namespace-var-input-field;

// Style Properties

.#{$selector} {
    position: relative;

    margin: 0.25 * $component-input-field-opt-margin auto 0;

    > input {
        font-family: $component-input-field-opt-font-face;
        font-size: $iota-global-font-size-xxl;

        width: 38 * $iota-global-gutter-default;
        padding: 1.5 * $component-input-field-opt-padding 1.5 * $component-input-field-opt-padding
            1.5 * $component-input-field-opt-padding 16 * $component-input-field-opt-padding;

        text-align: left;

        color: map-get($checkout-colors, b);
        border: 2px solid map-get($checkout-colors, w);
        outline: none;
        background-color: map-get($checkout-colors, w);

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;

            -webkit-appearance: none;
        }

        /* Firefox */
        &[type='number'] {
            -moz-appearance: textfield;
        }

        &.error {
            border-color: map-get($checkout-colors, o);
        }
    }

    > label {
        font-size: $iota-global-font-size-xs;

        position: absolute;
        top: $component-input-field-opt-padding;
        left: $component-input-field-opt-padding;
        z-index: 10;
    }

    > span {
        font-family: $component-input-field-opt-font-face;
        font-size: $iota-global-font-size-xxl;

        position: absolute;
        top: 2 * $iota-global-gutter-default;
        left: 13.5 * $iota-global-gutter-default;
        z-index: 10;
    }

    &.transparent {
        opacity: 50%;
    }
}
