$checkout-colors: (
    p1: rgb(25, 188, 195),
    p2: rgb(7, 100, 117),
    s1: rgb(229, 229, 229),
    s2: rgb(195, 199, 200),
    s3: rgb(102, 113, 115),
    s4: rgb(63, 79, 79),
    w: rgb(255, 255, 255),
    b: rgb(0, 0, 0),
    o: rgb(255, 145, 0),
);
